dist/*.js
src/assets
tests/unit/coverage
public/**/*.js
build/webpack.base.conf.js
dom.ts
popper.js
vue-popper.js
src/utils/popup/*.*
scrollbar-width.js
src/packages/scrollbar/*.*
src/packages/scrollbar/**/*.*
src/utils/util.ts
src/utils/types.ts
src/utils/aria-utils.js
src/mixins/emitter.ts
src/transitions/collapse-transition.js
src/packages/tree/model/*