@charset "UTF-8";
.hs-button,
.hs-checkbox {
  -moz-user-select: none;
  -ms-user-select: none;
}
.hs-button,
.hs-checkbox-button__inner {
  font-weight: 500;
  -webkit-appearance: none;
}
.hs-textarea {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  font-size: 14px;
}
.hs-textarea__inner {
  display: block;
  resize: vertical;
  padding: 5px 15px;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  color: #606266;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hs-textarea__inner::-webkit-input-placeholder {
  color: #c0c4cc;
}
.hs-textarea__inner:-ms-input-placeholder {
  color: #c0c4cc;
}
.hs-textarea__inner::-ms-input-placeholder {
  color: #c0c4cc;
}
.hs-textarea__inner::placeholder {
  color: #c0c4cc;
}
.hs-textarea__inner:hover {
  border-color: #c0c4cc;
}
.hs-textarea__inner:focus {
  outline: 0;
  border-color: #409eff;
}
.hs-textarea .hs-input__count {
  color: #909399;
  background: #fff;
  position: absolute;
  font-size: 12px;
  bottom: 5px;
  right: 10px;
}
.hs-textarea.is-disabled .hs-textarea__inner {
  background-color: #f5f7fa;
  border-color: #e4e7ed;
  color: #c0c4cc;
  cursor: not-allowed;
}
.hs-textarea.is-disabled .hs-textarea__inner::-webkit-input-placeholder {
  color: #c0c4cc;
}
.hs-textarea.is-disabled .hs-textarea__inner:-ms-input-placeholder {
  color: #c0c4cc;
}
.hs-textarea.is-disabled .hs-textarea__inner::-ms-input-placeholder {
  color: #c0c4cc;
}
.hs-textarea.is-disabled .hs-textarea__inner::placeholder {
  color: #c0c4cc;
}
.hs-textarea.is-exceed .hs-textarea__inner {
  border-color: #f56c6c;
}
.hs-textarea.is-exceed .hs-input__count {
  color: #f56c6c;
}
.hs-input {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 100%;
}
.hs-input::-webkit-scrollbar {
  z-index: 11;
  width: 6px;
}
.hs-button-group > .hs-button.is-active,
.hs-button-group > .hs-button.is-disabled,
.hs-button-group > .hs-button:active,
.hs-button-group > .hs-button:focus,
.hs-button-group > .hs-button:hover {
  z-index: 1;
}
.hs-input::-webkit-scrollbar:horizontal {
  height: 6px;
}
.hs-input::-webkit-scrollbar-thumb {
  border-radius: 5px;
  width: 6px;
  background: #b4bccc;
}
.hs-input::-webkit-scrollbar-corner {
  background: #fff;
}
.hs-input::-webkit-scrollbar-track {
  background: #fff;
}
.hs-input::-webkit-scrollbar-track-piece {
  background: #fff;
  width: 6px;
}
.hs-input .hs-input__clear {
  color: #c0c4cc;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hs-input .hs-input__clear:hover {
  color: #909399;
}
.hs-input .hs-input__count {
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #909399;
  font-size: 12px;
}
.hs-input .hs-input__count .hs-input__count-inner {
  background: #fff;
  line-height: initial;
  display: inline-block;
  padding: 0 5px;
}
.hs-input__inner {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
.hs-input__prefix,
.hs-input__suffix {
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  height: 100%;
  color: #c0c4cc;
  text-align: center;
}
.hs-input__inner::-webkit-input-placeholder {
  color: #c0c4cc;
}
.hs-input__inner:-ms-input-placeholder {
  color: #c0c4cc;
}
.hs-input__inner::-ms-input-placeholder {
  color: #c0c4cc;
}
.hs-input__inner::placeholder {
  color: #c0c4cc;
}
.hs-input__inner:hover {
  border-color: #c0c4cc;
}
.hs-input.is-active .hs-input__inner,
.hs-input__inner:focus {
  border-color: #409eff;
  outline: 0;
}
.hs-input__suffix {
  right: 5px;
  transition: all 0.3s;
  pointer-events: none;
}
.hs-input__suffix-inner {
  pointer-events: all;
}
.hs-input__prefix {
  left: 5px;
  transition: all 0.3s;
}
.hs-input__icon {
  height: 100%;
  width: 25px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 40px;
}
.hs-input__icon:after {
  content: "";
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.hs-input__validateIcon {
  pointer-events: none;
}
.hs-input.is-disabled .hs-input__inner {
  background-color: #f5f7fa;
  border-color: #e4e7ed;
  color: #c0c4cc;
  cursor: not-allowed;
}
.hs-input.is-disabled .hs-input__inner::-webkit-input-placeholder {
  color: #c0c4cc;
}
.hs-input.is-disabled .hs-input__inner:-ms-input-placeholder {
  color: #c0c4cc;
}
.hs-input.is-disabled .hs-input__inner::-ms-input-placeholder {
  color: #c0c4cc;
}
.hs-input.is-disabled .hs-input__inner::placeholder {
  color: #c0c4cc;
}
.hs-input.is-disabled .hs-input__icon {
  cursor: not-allowed;
}
.hs-input.is-exceed .hs-input__inner {
  border-color: #f56c6c;
}
.hs-input.is-exceed .hs-input__suffix .hs-input__count {
  color: #f56c6c;
}
.hs-input--suffix .hs-input__inner {
  padding-right: 30px;
}
.hs-input--prefix .hs-input__inner {
  padding-left: 30px;
}
.hs-input--medium {
  font-size: 14px;
}
.hs-input--medium .hs-input__inner {
  height: 36px;
  line-height: 36px;
}
.hs-input--medium .hs-input__icon {
  line-height: 36px;
}
.hs-input--small {
  font-size: 13px;
}
.hs-input--small .hs-input__inner {
  height: 32px;
  line-height: 32px;
}
.hs-input--small .hs-input__icon {
  line-height: 32px;
}
.hs-input--mini {
  font-size: 12px;
}
.hs-input--mini .hs-input__inner {
  height: 28px;
  line-height: 28px;
}
.hs-input--mini .hs-input__icon {
  line-height: 28px;
}
.hs-input-group {
  line-height: normal;
  display: inline-table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
.hs-input-group > .hs-input__inner {
  vertical-align: middle;
  display: table-cell;
}
.hs-input-group__append,
.hs-input-group__prepend {
  background-color: #f5f7fa;
  color: #909399;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  padding: 0 20px;
  width: 1px;
  white-space: nowrap;
}
.hs-input-group--prepend .hs-input__inner,
.hs-input-group__append {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.hs-input-group--append .hs-input__inner,
.hs-input-group__prepend {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.hs-input-group__append:focus,
.hs-input-group__prepend:focus {
  outline: 0;
}
.hs-input-group__append .hs-button,
.hs-input-group__append .hs-select,
.hs-input-group__prepend .hs-button,
.hs-input-group__prepend .hs-select {
  display: inline-block;
  margin: -10px -20px;
}
.hs-input-group__append button.hs-button,
.hs-input-group__append div.hs-select .el-input__inner,
.hs-input-group__append div.hs-select:hover .hs-input__inner,
.hs-input-group__prepend button.hs-button,
.hs-input-group__prepend div.hs-select .el-input__inner,
.hs-input-group__prepend div.hs-select:hover .hs-input__inner {
  border-color: transparent;
  background-color: transparent;
  color: inherit;
  border-top: 0;
  border-bottom: 0;
}
.hs-input-group__append .hs-button,
.hs-input-group__append .hs-input,
.hs-input-group__prepend .hs-button,
.hs-input-group__prepend .hs-input {
  font-size: inherit;
}
.hs-input-group__prepend {
  border-right: 0;
}
.hs-input-group__append {
  border-left: 0;
}
.hs-input-group--append .hs-select .el-input.is-focus .hs-input__inner,
.hs-input-group--prepend .hs-select .el-input.is-focus .hs-input__inner {
  border-color: transparent;
}
.hs-input__inner::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.hs-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.hs-button + .hs-button {
  margin-left: 10px;
}
.hs-button:focus,
.hs-button:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}
.hs-button:active {
  color: #3a8ee6;
  border-color: #3a8ee6;
  outline: 0;
}
.hs-button::-moz-focus-inner {
  border: 0;
}
.hs-button [class*="hs-icon-"] + span {
  margin-left: 5px;
}
.hs-button.is-plain:focus,
.hs-button.is-plain:hover {
  background: #fff;
  border-color: #409eff;
  color: #409eff;
}
.hs-button.is-active,
.hs-button.is-plain:active {
  color: #3a8ee6;
  border-color: #3a8ee6;
}
.hs-button.is-plain:active {
  background: #fff;
  outline: 0;
}
.hs-button.is-disabled,
.hs-button.is-disabled:focus,
.hs-button.is-disabled:hover {
  color: #c0c4cc;
  cursor: not-allowed;
  background-image: none;
  background-color: #fff;
  border-color: #ebeef5;
}
.hs-button.is-disabled.hs-button--text {
  background-color: transparent;
}
.hs-button.is-disabled.is-plain,
.hs-button.is-disabled.is-plain:focus,
.hs-button.is-disabled.is-plain:hover {
  background-color: #fff;
  border-color: #ebeef5;
  color: #c0c4cc;
}
.hs-button.is-loading {
  position: relative;
  pointer-events: none;
}
.hs-button.is-loading:before {
  pointer-events: none;
  content: "";
  position: absolute;
  left: -1px;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border-radius: inherit;
  background-color: rgba(255, 255, 255, 0.35);
}
.hs-button.is-round {
  border-radius: 20px;
  padding: 12px 23px;
}
.hs-button.is-circle {
  border-radius: 50%;
  padding: 12px;
}
.hs-button--primary {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
.hs-button--primary:focus,
.hs-button--primary:hover {
  background: #66b1ff;
  border-color: #66b1ff;
  color: #fff;
}
.hs-button--primary.is-active,
.hs-button--primary:active {
  background: #3a8ee6;
  border-color: #3a8ee6;
  color: #fff;
}
.hs-button--primary:active {
  outline: 0;
}
.hs-button--primary.is-disabled,
.hs-button--primary.is-disabled:active,
.hs-button--primary.is-disabled:focus,
.hs-button--primary.is-disabled:hover {
  color: #fff;
  background-color: #a0cfff;
  border-color: #a0cfff;
}
.hs-button--primary.is-plain {
  color: #409eff;
  background: #ecf5ff;
  border-color: #b3d8ff;
}
.hs-button--primary.is-plain:focus,
.hs-button--primary.is-plain:hover {
  background: #409eff;
  border-color: #409eff;
  color: #fff;
}
.hs-button--primary.is-plain:active {
  background: #3a8ee6;
  border-color: #3a8ee6;
  color: #fff;
  outline: 0;
}
.hs-button--primary.is-plain.is-disabled,
.hs-button--primary.is-plain.is-disabled:active,
.hs-button--primary.is-plain.is-disabled:focus,
.hs-button--primary.is-plain.is-disabled:hover {
  color: #8cc5ff;
  background-color: #ecf5ff;
  border-color: #d9ecff;
}
.hs-button--success {
  color: #fff;
  background-color: #67c23a;
  border-color: #67c23a;
}
.hs-button--success:focus,
.hs-button--success:hover {
  background: #85ce61;
  border-color: #85ce61;
  color: #fff;
}
.hs-button--success.is-active,
.hs-button--success:active {
  background: #5daf34;
  border-color: #5daf34;
  color: #fff;
}
.hs-button--success:active {
  outline: 0;
}
.hs-button--success.is-disabled,
.hs-button--success.is-disabled:active,
.hs-button--success.is-disabled:focus,
.hs-button--success.is-disabled:hover {
  color: #fff;
  background-color: #b3e19d;
  border-color: #b3e19d;
}
.hs-button--success.is-plain {
  color: #67c23a;
  background: #f0f9eb;
  border-color: #c2e7b0;
}
.hs-button--success.is-plain:focus,
.hs-button--success.is-plain:hover {
  background: #67c23a;
  border-color: #67c23a;
  color: #fff;
}
.hs-button--success.is-plain:active {
  background: #5daf34;
  border-color: #5daf34;
  color: #fff;
  outline: 0;
}
.hs-button--success.is-plain.is-disabled,
.hs-button--success.is-plain.is-disabled:active,
.hs-button--success.is-plain.is-disabled:focus,
.hs-button--success.is-plain.is-disabled:hover {
  color: #a4da89;
  background-color: #f0f9eb;
  border-color: #e1f3d8;
}
.hs-button--warning {
  color: #fff;
  background-color: #e6a23c;
  border-color: #e6a23c;
}
.hs-button--warning:focus,
.hs-button--warning:hover {
  background: #ebb563;
  border-color: #ebb563;
  color: #fff;
}
.hs-button--warning.is-active,
.hs-button--warning:active {
  background: #cf9236;
  border-color: #cf9236;
  color: #fff;
}
.hs-button--warning:active {
  outline: 0;
}
.hs-button--warning.is-disabled,
.hs-button--warning.is-disabled:active,
.hs-button--warning.is-disabled:focus,
.hs-button--warning.is-disabled:hover {
  color: #fff;
  background-color: #f3d19e;
  border-color: #f3d19e;
}
.hs-button--warning.is-plain {
  color: #e6a23c;
  background: #fdf6ec;
  border-color: #f5dab1;
}
.hs-button--warning.is-plain:focus,
.hs-button--warning.is-plain:hover {
  background: #e6a23c;
  border-color: #e6a23c;
  color: #fff;
}
.hs-button--warning.is-plain:active {
  background: #cf9236;
  border-color: #cf9236;
  color: #fff;
  outline: 0;
}
.hs-button--warning.is-plain.is-disabled,
.hs-button--warning.is-plain.is-disabled:active,
.hs-button--warning.is-plain.is-disabled:focus,
.hs-button--warning.is-plain.is-disabled:hover {
  color: #f0c78a;
  background-color: #fdf6ec;
  border-color: #faecd8;
}
.hs-button--danger {
  color: #fff;
  background-color: #f56c6c;
  border-color: #f56c6c;
}
.hs-button--danger:focus,
.hs-button--danger:hover {
  background: #f78989;
  border-color: #f78989;
  color: #fff;
}
.hs-button--danger.is-active,
.hs-button--danger:active {
  background: #dd6161;
  border-color: #dd6161;
  color: #fff;
}
.hs-button--danger:active {
  outline: 0;
}
.hs-button--danger.is-disabled,
.hs-button--danger.is-disabled:active,
.hs-button--danger.is-disabled:focus,
.hs-button--danger.is-disabled:hover {
  color: #fff;
  background-color: #fab6b6;
  border-color: #fab6b6;
}
.hs-button--danger.is-plain {
  color: #f56c6c;
  background: #fef0f0;
  border-color: #fbc4c4;
}
.hs-button--danger.is-plain:focus,
.hs-button--danger.is-plain:hover {
  background: #f56c6c;
  border-color: #f56c6c;
  color: #fff;
}
.hs-button--danger.is-plain:active {
  background: #dd6161;
  border-color: #dd6161;
  color: #fff;
  outline: 0;
}
.hs-button--danger.is-plain.is-disabled,
.hs-button--danger.is-plain.is-disabled:active,
.hs-button--danger.is-plain.is-disabled:focus,
.hs-button--danger.is-plain.is-disabled:hover {
  color: #f9a7a7;
  background-color: #fef0f0;
  border-color: #fde2e2;
}
.hs-button--info {
  color: #fff;
  background-color: #909399;
  border-color: #909399;
}
.hs-button--info:focus,
.hs-button--info:hover {
  background: #a6a9ad;
  border-color: #a6a9ad;
  color: #fff;
}
.hs-button--info.is-active,
.hs-button--info:active {
  background: #82848a;
  border-color: #82848a;
  color: #fff;
}
.hs-button--info:active {
  outline: 0;
}
.hs-button--info.is-disabled,
.hs-button--info.is-disabled:active,
.hs-button--info.is-disabled:focus,
.hs-button--info.is-disabled:hover {
  color: #fff;
  background-color: #c8c9cc;
  border-color: #c8c9cc;
}
.hs-button--info.is-plain {
  color: #909399;
  background: #f4f4f5;
  border-color: #d3d4d6;
}
.hs-button--info.is-plain:focus,
.hs-button--info.is-plain:hover {
  background: #909399;
  border-color: #909399;
  color: #fff;
}
.hs-button--info.is-plain:active {
  background: #82848a;
  border-color: #82848a;
  color: #fff;
  outline: 0;
}
.hs-button--info.is-plain.is-disabled,
.hs-button--info.is-plain.is-disabled:active,
.hs-button--info.is-plain.is-disabled:focus,
.hs-button--info.is-plain.is-disabled:hover {
  color: #bcbec2;
  background-color: #f4f4f5;
  border-color: #e9e9eb;
}
.hs-button--text,
.hs-button--text.is-disabled,
.hs-button--text.is-disabled:focus,
.hs-button--text.is-disabled:hover,
.hs-button--text:active {
  border-color: transparent;
}
.hs-button--medium {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 4px;
}
.hs-button--mini,
.hs-button--small {
  font-size: 12px;
  border-radius: 3px;
}
.hs-button--medium.is-round {
  padding: 10px 20px;
}
.hs-button--medium.is-circle {
  padding: 10px;
}
.hs-button--small,
.hs-button--small.is-round {
  padding: 9px 15px;
}
.hs-button--small.is-circle {
  padding: 9px;
}
.hs-button--mini,
.hs-button--mini.is-round {
  padding: 7px 15px;
}
.hs-button--mini.is-circle {
  padding: 7px;
}
.hs-button--text {
  color: #409eff;
  background: 0 0;
  padding-left: 0;
  padding-right: 0;
}
.hs-button--text:focus,
.hs-button--text:hover {
  color: #66b1ff;
  border-color: transparent;
  background-color: transparent;
}
.hs-button--text:active {
  color: #3a8ee6;
  background-color: transparent;
}
.hs-button-group {
  display: inline-block;
  vertical-align: middle;
}
.hs-button-group::after,
.hs-button-group::before {
  display: table;
  content: "";
}
.hs-checkbox,
.hs-checkbox__input {
  display: inline-block;
  position: relative;
  white-space: nowrap;
}
.hs-button-group::after {
  clear: both;
}
.hs-button-group > .hs-button {
  float: left;
  position: relative;
}
.hs-button-group > .hs-button + .hs-button {
  margin-left: 0;
}
.hs-button-group > .hs-button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.hs-button-group > .hs-button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.hs-button-group > .hs-button:first-child:last-child {
  border-radius: 4px;
}
.hs-button-group > .hs-button:first-child:last-child.is-round {
  border-radius: 20px;
}
.hs-button-group > .hs-button:first-child:last-child.is-circle {
  border-radius: 50%;
}
.hs-button-group > .hs-button:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.hs-button-group > .hs-button:not(:last-child) {
  margin-right: -1px;
}
.hs-button-group > .hs-dropdown > .hs-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left-color: rgba(255, 255, 255, 0.5);
}
.hs-button-group .hs-button--primary:first-child {
  border-right-color: rgba(255, 255, 255, 0.5);
}
.hs-button-group .hs-button--primary:last-child {
  border-left-color: rgba(255, 255, 255, 0.5);
}
.hs-button-group .hs-button--primary:not(:first-child):not(:last-child) {
  border-left-color: rgba(255, 255, 255, 0.5);
  border-right-color: rgba(255, 255, 255, 0.5);
}
.hs-button-group .hs-button--success:first-child {
  border-right-color: rgba(255, 255, 255, 0.5);
}
.hs-button-group .hs-button--success:last-child {
  border-left-color: rgba(255, 255, 255, 0.5);
}
.hs-button-group .hs-button--success:not(:first-child):not(:last-child) {
  border-left-color: rgba(255, 255, 255, 0.5);
  border-right-color: rgba(255, 255, 255, 0.5);
}
.hs-button-group .hs-button--warning:first-child {
  border-right-color: rgba(255, 255, 255, 0.5);
}
.hs-button-group .hs-button--warning:last-child {
  border-left-color: rgba(255, 255, 255, 0.5);
}
.hs-button-group .hs-button--warning:not(:first-child):not(:last-child) {
  border-left-color: rgba(255, 255, 255, 0.5);
  border-right-color: rgba(255, 255, 255, 0.5);
}
.hs-button-group .hs-button--danger:first-child {
  border-right-color: rgba(255, 255, 255, 0.5);
}
.hs-button-group .hs-button--danger:last-child {
  border-left-color: rgba(255, 255, 255, 0.5);
}
.hs-button-group .hs-button--danger:not(:first-child):not(:last-child) {
  border-left-color: rgba(255, 255, 255, 0.5);
  border-right-color: rgba(255, 255, 255, 0.5);
}
.hs-button-group .hs-button--info:first-child {
  border-right-color: rgba(255, 255, 255, 0.5);
}
.hs-button-group .hs-button--info:last-child {
  border-left-color: rgba(255, 255, 255, 0.5);
}
.hs-button-group .hs-button--info:not(:first-child):not(:last-child) {
  border-left-color: rgba(255, 255, 255, 0.5);
  border-right-color: rgba(255, 255, 255, 0.5);
}
.hs-checkbox {
  color: #606266;
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 30px;
}
.hs-checkbox.is-bordered {
  padding: 9px 20px 9px 10px;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: normal;
  height: 40px;
}
.hs-checkbox.is-bordered.is-checked {
  border-color: #409eff;
}
.hs-checkbox.is-bordered.is-disabled {
  border-color: #ebeef5;
  cursor: not-allowed;
}
.hs-checkbox.is-bordered + .hs-checkbox.is-bordered {
  margin-left: 10px;
}
.hs-checkbox.is-bordered.hs-checkbox--medium {
  padding: 7px 20px 7px 10px;
  border-radius: 4px;
  height: 36px;
}
.hs-checkbox.is-bordered.hs-checkbox--medium .hs-checkbox__label {
  line-height: 17px;
  font-size: 14px;
}
.hs-checkbox.is-bordered.hs-checkbox--medium .hs-checkbox__inner {
  height: 14px;
  width: 14px;
}
.hs-checkbox.is-bordered.hs-checkbox--small {
  padding: 5px 15px 5px 10px;
  border-radius: 3px;
  height: 32px;
}
.hs-checkbox.is-bordered.hs-checkbox--small .hs-checkbox__label {
  line-height: 15px;
  font-size: 12px;
}
.hs-checkbox.is-bordered.hs-checkbox--small .hs-checkbox__inner {
  height: 12px;
  width: 12px;
}
.hs-checkbox.is-bordered.hs-checkbox--small .hs-checkbox__inner::after {
  height: 6px;
  width: 2px;
}
.hs-checkbox.is-bordered.hs-checkbox--mini {
  padding: 3px 15px 3px 10px;
  border-radius: 3px;
  height: 28px;
}
.hs-checkbox.is-bordered.hs-checkbox--mini .hs-checkbox__label {
  line-height: 12px;
  font-size: 12px;
}
.hs-checkbox.is-bordered.hs-checkbox--mini .hs-checkbox__inner {
  height: 12px;
  width: 12px;
}
.hs-checkbox.is-bordered.hs-checkbox--mini .hs-checkbox__inner::after {
  height: 6px;
  width: 2px;
}
.hs-checkbox__input {
  cursor: pointer;
  outline: 0;
  line-height: 1;
  vertical-align: middle;
}
.hs-checkbox__input.is-disabled .hs-checkbox__inner {
  background-color: #edf2fc;
  border-color: #dcdfe6;
  cursor: not-allowed;
}
.hs-checkbox__input.is-disabled .hs-checkbox__inner::after {
  cursor: not-allowed;
  border-color: #c0c4cc;
}
.hs-checkbox__input.is-disabled .hs-checkbox__inner + .hs-checkbox__label {
  cursor: not-allowed;
}
.hs-checkbox__input.is-disabled.is-checked .hs-checkbox__inner {
  background-color: #f2f6fc;
  border-color: #dcdfe6;
}
.hs-checkbox__input.is-disabled.is-checked .hs-checkbox__inner::after {
  border-color: #c0c4cc;
}
.hs-checkbox__input.is-disabled.is-indeterminate .hs-checkbox__inner {
  background-color: #f2f6fc;
  border-color: #dcdfe6;
}
.hs-checkbox__input.is-disabled.is-indeterminate .hs-checkbox__inner::before {
  background-color: #c0c4cc;
  border-color: #c0c4cc;
}
.hs-checkbox__input.is-checked .hs-checkbox__inner,
.hs-checkbox__input.is-indeterminate .hs-checkbox__inner {
  background-color: #409eff;
  border-color: #409eff;
}
.hs-checkbox__input.is-disabled + span.hs-checkbox__label {
  color: #c0c4cc;
  cursor: not-allowed;
}
.hs-checkbox__input.is-checked .hs-checkbox__inner::after {
  -webkit-transform: rotate(45deg) scaleY(1);
  transform: rotate(45deg) scaleY(1);
}
.hs-checkbox__input.is-checked + .hs-checkbox__label {
  color: #409eff;
}
.hs-checkbox__input.is-focus .hs-checkbox__inner {
  border-color: #409eff;
}
.hs-checkbox__input.is-indeterminate .hs-checkbox__inner::before {
  content: "";
  position: absolute;
  display: block;
  background-color: #fff;
  height: 2px;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  left: 0;
  right: 0;
  top: 5px;
}
.hs-checkbox__input.is-indeterminate .hs-checkbox__inner::after {
  display: none;
}
.hs-checkbox__inner {
  display: inline-block;
  position: relative;
  border: 1px solid #dcdfe6;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  background-color: #fff;
  z-index: 1;
  -webkit-transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
    background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
  transition: border-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46),
    background-color 0.25s cubic-bezier(0.71, -0.46, 0.29, 1.46);
}
.hs-checkbox__inner:hover {
  border-color: #409eff;
}
.hs-checkbox__inner::after {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  content: "";
  border: 1px solid #fff;
  border-left: 0;
  border-top: 0;
  height: 7px;
  left: 4px;
  position: absolute;
  top: 1px;
  -webkit-transform: rotate(45deg) scaleY(0);
  transform: rotate(45deg) scaleY(0);
  width: 3px;
  -webkit-transition: -webkit-transform 0.15s ease-in 0.05s;
  transition: -webkit-transform 0.15s ease-in 0.05s;
  transition: transform 0.15s ease-in 0.05s;
  transition: transform 0.15s ease-in 0.05s, -webkit-transform 0.15s ease-in 0.05s;
  -webkit-transform-origin: center;
  transform-origin: center;
}
.hs-checkbox-button__inner,
.hs-transfer-panel {
  -webkit-box-sizing: border-box;
  vertical-align: middle;
}
.hs-checkbox__original {
  opacity: 0;
  outline: 0;
  position: absolute;
  margin: 0;
  width: 0;
  height: 0;
  z-index: -1;
}
.hs-checkbox-button,
.hs-checkbox-button__inner {
  position: relative;
  display: inline-block;
}
.hs-checkbox__label {
  display: inline-block;
  padding-left: 10px;
  line-height: 19px;
  font-size: 14px;
}
.hs-checkbox:last-of-type {
  margin-right: 0;
}
.hs-checkbox-button__inner {
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  border-left: 0;
  color: #606266;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 0;
}
.hs-checkbox-button__inner.is-round {
  padding: 12px 20px;
}
.hs-checkbox-button__inner:hover {
  color: #409eff;
}
.hs-checkbox-button__inner [class*="hs-icon-"] {
  line-height: 0.9;
}
.hs-checkbox-button__inner [class*="hs-icon-"] + span {
  margin-left: 5px;
}
.hs-checkbox-button__original {
  opacity: 0;
  outline: 0;
  position: absolute;
  margin: 0;
  z-index: -1;
}
.hs-checkbox-button.is-checked .hs-checkbox-button__inner {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
  -webkit-box-shadow: -1px 0 0 0 #8cc5ff;
  box-shadow: -1px 0 0 0 #8cc5ff;
}
.hs-checkbox-button.is-checked:first-child .hs-checkbox-button__inner {
  border-left-color: #409eff;
}
.hs-checkbox-button.is-disabled .hs-checkbox-button__inner {
  color: #c0c4cc;
  cursor: not-allowed;
  background-image: none;
  background-color: #fff;
  border-color: #ebeef5;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.hs-checkbox-button.is-disabled:first-child .hs-checkbox-button__inner {
  border-left-color: #ebeef5;
}
.hs-checkbox-button:first-child .hs-checkbox-button__inner {
  border-left: 1px solid #dcdfe6;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.hs-checkbox-button.is-focus .hs-checkbox-button__inner {
  border-color: #409eff;
}
.hs-checkbox-button:last-child .hs-checkbox-button__inner {
  border-radius: 0 4px 4px 0;
}
.hs-checkbox-button--medium .hs-checkbox-button__inner {
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 0;
}
.hs-checkbox-button--medium .hs-checkbox-button__inner.is-round {
  padding: 10px 20px;
}
.hs-checkbox-button--small .hs-checkbox-button__inner {
  padding: 9px 15px;
  font-size: 12px;
  border-radius: 0;
}
.hs-checkbox-button--small .hs-checkbox-button__inner.is-round {
  padding: 9px 15px;
}
.hs-checkbox-button--mini .hs-checkbox-button__inner {
  padding: 7px 15px;
  font-size: 12px;
  border-radius: 0;
}
.hs-checkbox-button--mini .hs-checkbox-button__inner.is-round {
  padding: 7px 15px;
}
.hs-checkbox-group {
  font-size: 0;
}
.hs-transfer {
  font-size: 14px;
}
.hs-transfer__buttons {
  display: inline-block;
  vertical-align: middle;
  padding: 0 30px;
}
.hs-transfer__button {
  display: block;
  margin: 0 auto;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  background-color: #409eff;
  font-size: 0;
}
.hs-transfer-panel__item + .hs-transfer-panel__item,
.hs-transfer__button [class*="hs-icon-"] + span {
  margin-left: 0;
}
.hs-transfer__button.is-with-texts {
  border-radius: 4px;
}
.hs-transfer__button.is-disabled,
.hs-transfer__button.is-disabled:hover {
  border: 1px solid #dcdfe6;
  background-color: #f5f7fa;
  color: #c0c4cc;
}
.hs-transfer__button:first-child {
  margin-bottom: 10px;
}
.hs-transfer__button:nth-child(2) {
  margin: 0;
}
.hs-transfer__button i,
.hs-transfer__button span {
  font-size: 14px;
}
.hs-transfer-panel {
  border: 1px solid #ebeef5;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  display: inline-block;
  width: 200px;
  max-height: 100%;
  box-sizing: border-box;
  position: relative;
}
.hs-transfer-panel__body {
  height: 246px;
}
.hs-transfer-panel__body.is-with-footer {
  padding-bottom: 40px;
}
.hs-transfer-panel__list {
  margin: 0;
  padding: 6px 0;
  list-style: none;
  height: 246px;
  overflow: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hs-transfer-panel__list.is-filterable {
  height: 194px;
  padding-top: 0;
}
.hs-transfer-panel__item {
  height: 30px;
  line-height: 30px;
  padding-left: 15px;
  display: block !important;
}
.hs-transfer-panel__item.hs-checkbox {
  color: #606266;
}
.hs-transfer-panel__item:hover {
  color: #409eff;
}
.hs-transfer-panel__item.hs-checkbox .hs-checkbox__label {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 24px;
  line-height: 30px;
}
.hs-transfer-panel__item .hs-checkbox__input {
  position: absolute;
  top: 8px;
}
.hs-transfer-panel__filter {
  text-align: center;
  margin: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: auto;
}
.hs-transfer-panel__filter .hs-input__inner {
  height: 32px;
  width: 100%;
  font-size: 12px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 16px;
  padding-right: 10px;
  padding-left: 30px;
}
.hs-transfer-panel__filter .hs-input__icon {
  margin-left: 5px;
}
.hs-transfer-panel__filter .hs-icon-circle-close {
  cursor: pointer;
}
.hs-transfer-panel .hs-transfer-panel__header {
  height: 40px;
  line-height: 40px;
  background: #f5f7fa;
  margin: 0;
  padding-left: 15px;
  border-bottom: 1px solid #ebeef5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
}
.hs-transfer-panel .hs-transfer-panel__header .hs-checkbox {
  display: block;
  line-height: 40px;
}
.hs-transfer-panel .hs-transfer-panel__header .hs-checkbox .hs-checkbox__label {
  font-size: 16px;
  color: #303133;
  font-weight: 400;
}
.hs-transfer-panel .hs-transfer-panel__header .hs-checkbox .hs-checkbox__label span {
  position: absolute;
  right: 15px;
  color: #909399;
  font-size: 12px;
  font-weight: 400;
}
.hs-transfer-panel .hs-transfer-panel__footer {
  height: 40px;
  background: #fff;
  margin: 0;
  padding: 0;
  border-top: 1px solid #ebeef5;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.hs-transfer-panel .hs-transfer-panel__footer::after {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}
.hs-transfer-panel .hs-transfer-panel__footer .hs-checkbox {
  padding-left: 20px;
  color: #606266;
}
.hs-transfer-panel .hs-transfer-panel__empty {
  margin: 0;
  height: 30px;
  line-height: 30px;
  padding: 6px 15px 0;
  color: #909399;
  text-align: center;
}
.hs-transfer-panel .hs-checkbox__label {
  padding-left: 8px;
}
.hs-transfer-panel .hs-checkbox__inner {
  height: 14px;
  width: 14px;
  border-radius: 3px;
}
.hs-transfer-panel .hs-checkbox__inner::after {
  height: 6px;
  width: 3px;
  left: 4px;
}
