.radius{
  border-radius: 4px;
}
.radius-circle{
  border-radius: 30px;
}
.circle{
  border-radius: 100%;
}
.shadow{
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px, rgba(0, 0, 0, 0.04) 0px 0px 6px;
}
.shadow-sint{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 12px 0px;
}