$hs-theme-color: #FE4066;
$hs-sub-theme-color: #FF577C;
$hs-dark-color: #1C2E52;
$hs-warm-color: #316EFD;
$hs-light-color: #DCE6F1;
$hs-container-color: #EAEAEA;

//
$hs-black: #212121;
$hs-black-1: #333;
$hs-black-2: #666;
$hs-black-3: #999;
