.hs-textarea {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: bottom;
  font-size: 14px;
}
.hs-textarea__inner {
  display: block;
  resize: vertical;
  padding: 5px 15px;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-size: inherit;
  color: #606266;
  background-color: #fff;
  background-image: none;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hs-textarea__inner::-webkit-input-placeholder {
  color: #c0c4cc;
}
.hs-textarea__inner:-ms-input-placeholder {
  color: #c0c4cc;
}
.hs-textarea__inner::-ms-input-placeholder {
  color: #c0c4cc;
}
.hs-textarea__inner::placeholder {
  color: #c0c4cc;
}
.hs-textarea__inner:hover {
  border-color: #c0c4cc;
}
.hs-textarea__inner:focus {
  outline: 0;
  border-color: #409eff;
}
.hs-textarea .hs-input__count {
  color: #909399;
  background: #fff;
  position: absolute;
  font-size: 12px;
  bottom: 5px;
  right: 10px;
}
.hs-textarea.is-disabled .hs-textarea__inner {
  background-color: #f5f7fa;
  border-color: #e4e7ed;
  color: #c0c4cc;
  cursor: not-allowed;
}
.hs-textarea.is-disabled .hs-textarea__inner::-webkit-input-placeholder {
  color: #c0c4cc;
}
.hs-textarea.is-disabled .hs-textarea__inner:-ms-input-placeholder {
  color: #c0c4cc;
}
.hs-textarea.is-disabled .hs-textarea__inner::-ms-input-placeholder {
  color: #c0c4cc;
}
.hs-textarea.is-disabled .hs-textarea__inner::placeholder {
  color: #c0c4cc;
}
.hs-textarea.is-exceed .hs-textarea__inner {
  border-color: #f56c6c;
}
.hs-textarea.is-exceed .hs-input__count {
  color: #f56c6c;
}
.hs-input {
  position: relative;
  font-size: 14px;
  display: inline-block;
  width: 100%;
}
.hs-input::-webkit-scrollbar {
  z-index: 11;
  width: 6px;
}
.hs-input::-webkit-scrollbar:horizontal {
  height: 6px;
}
.hs-input::-webkit-scrollbar-thumb {
  border-radius: 5px;
  width: 6px;
  background: #b4bccc;
}
.hs-input::-webkit-scrollbar-corner {
  background: #fff;
}
.hs-input::-webkit-scrollbar-track {
  background: #fff;
}
.hs-input::-webkit-scrollbar-track-piece {
  background: #fff;
  width: 6px;
}
.hs-input .hs-input__clear {
  color: #c0c4cc;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.hs-input .hs-input__clear:hover {
  color: #909399;
}
.hs-input .hs-input__count {
  height: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #909399;
  font-size: 12px;
}
.hs-input .hs-input__count .hs-input__count-inner {
  background: #fff;
  line-height: initial;
  display: inline-block;
  padding: 0 5px;
}
.hs-input__inner {
  -webkit-appearance: none;
  background-color: #fff;
  background-image: none;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #606266;
  display: inline-block;
  font-size: inherit;
  height: 40px;
  line-height: 40px;
  outline: 0;
  padding: 0 15px;
  -webkit-transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border-color 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  width: 100%;
}
.hs-input__prefix,
.hs-input__suffix {
  position: absolute;
  top: 0;
  -webkit-transition: all 0.3s;
  height: 100%;
  color: #c0c4cc;
  text-align: center;
}
.hs-input__inner::-webkit-input-placeholder {
  color: #c0c4cc;
}
.hs-input__inner:-ms-input-placeholder {
  color: #c0c4cc;
}
.hs-input__inner::-ms-input-placeholder {
  color: #c0c4cc;
}
.hs-input__inner::placeholder {
  color: #c0c4cc;
}
.hs-input__inner:hover {
  border-color: #c0c4cc;
}
.hs-input.is-active .hs-input__inner,
.hs-input__inner:focus {
  border-color: #409eff;
  outline: 0;
}
.hs-input__suffix {
  right: 5px;
  transition: all 0.3s;
  pointer-events: none;
}
.hs-input__suffix-inner {
  pointer-events: all;
}
.hs-input__prefix {
  left: 5px;
  transition: all 0.3s;
}
.hs-input__icon {
  height: 100%;
  width: 25px;
  text-align: center;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  line-height: 40px;
}
.hs-input__icon:after {
  content: "";
  height: 100%;
  width: 0;
  display: inline-block;
  vertical-align: middle;
}
.hs-input__validateIcon {
  pointer-events: none;
}
.hs-input.is-disabled .hs-input__inner {
  background-color: #f5f7fa;
  border-color: #e4e7ed;
  color: #c0c4cc;
  cursor: not-allowed;
}
.hs-input.is-disabled .hs-input__inner::-webkit-input-placeholder {
  color: #c0c4cc;
}
.hs-input.is-disabled .hs-input__inner:-ms-input-placeholder {
  color: #c0c4cc;
}
.hs-input.is-disabled .hs-input__inner::-ms-input-placeholder {
  color: #c0c4cc;
}
.hs-input.is-disabled .hs-input__inner::placeholder {
  color: #c0c4cc;
}
.hs-input.is-disabled .hs-input__icon {
  cursor: not-allowed;
}
.hs-input.is-exceed .hs-input__inner {
  border-color: #f56c6c;
}
.hs-input.is-exceed .hs-input__suffix .hs-input__count {
  color: #f56c6c;
}
.hs-input--suffix .hs-input__inner {
  padding-right: 30px;
}
.hs-input--prefix .hs-input__inner {
  padding-left: 30px;
}
.hs-input--medium {
  font-size: 14px;
}
.hs-input--medium .hs-input__inner {
  height: 36px;
  line-height: 36px;
}
.hs-input--medium .hs-input__icon {
  line-height: 36px;
}
.hs-input--small {
  font-size: 13px;
}
.hs-input--small .hs-input__inner {
  height: 32px;
  line-height: 32px;
}
.hs-input--small .hs-input__icon {
  line-height: 32px;
}
.hs-input--mini {
  font-size: 12px;
}
.hs-input--mini .hs-input__inner {
  height: 28px;
  line-height: 28px;
}
.hs-input--mini .hs-input__icon {
  line-height: 28px;
}
.hs-input-group {
  line-height: normal;
  display: inline-table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
.hs-input-group > .hs-input__inner {
  vertical-align: middle;
  display: table-cell;
}
.hs-input-group__append,
.hs-input-group__prepend {
  background-color: #f5f7fa;
  color: #909399;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  border: 1px solid #dcdfe6;
  border-radius: 4px;
  padding: 0 20px;
  width: 1px;
  white-space: nowrap;
}
.hs-input-group--prepend .hs-input__inner,
.hs-input-group__append {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.hs-input-group--append .hs-input__inner,
.hs-input-group__prepend {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.hs-input-group__append:focus,
.hs-input-group__prepend:focus {
  outline: 0;
}
.hs-input-group__append .hs-button,
.hs-input-group__append .hs-select,
.hs-input-group__prepend .hs-button,
.hs-input-group__prepend .hs-select {
  display: inline-block;
  margin: -10px -20px;
}
.hs-input-group__append button.hs-button,
.hs-input-group__append div.hs-select .el-input__inner,
.hs-input-group__append div.hs-select:hover .hs-input__inner,
.hs-input-group__prepend button.hs-button,
.hs-input-group__prepend div.hs-select .el-input__inner,
.hs-input-group__prepend div.hs-select:hover .hs-input__inner {
  border-color: transparent;
  background-color: transparent;
  color: inherit;
  border-top: 0;
  border-bottom: 0;
}
.hs-input-group__append .hs-button,
.hs-input-group__append .hs-input,
.hs-input-group__prepend .hs-button,
.hs-input-group__prepend .hs-input {
  font-size: inherit;
}
.hs-input-group__prepend {
  border-right: 0;
}
.hs-input-group__append {
  border-left: 0;
}
.hs-input-group--append .hs-select .el-input.is-focus .hs-input__inner,
.hs-input-group--prepend .hs-select .el-input.is-focus .hs-input__inner {
  border-color: transparent;
}
.hs-input__inner::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
.hs-input-number {
  position: relative;
  display: inline-block;
  width: 180px;
  line-height: 38px;
}
.hs-input-number .hs-input {
  display: block;
}
.hs-input-number .hs-input__inner {
  -webkit-appearance: none;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
.hs-input-number__decrease,
.hs-input-number__increase {
  position: absolute;
  z-index: 1;
  top: 1px;
  width: 40px;
  height: auto;
  text-align: center;
  background: #f5f7fa;
  color: #606266;
  cursor: pointer;
  font-size: 13px;
}
.hs-input-number__decrease:hover,
.hs-input-number__increase:hover {
  color: #409eff;
}
.hs-input-number__decrease:hover:not(.is-disabled) ~ .hs-input .hs-input__inner:not(.is-disabled),
.hs-input-number__increase:hover:not(.is-disabled) ~ .hs-input .hs-input__inner:not(.is-disabled) {
  border-color: #409eff;
}
.hs-input-number__decrease.is-disabled,
.hs-input-number__increase.is-disabled {
  color: #c0c4cc;
  cursor: not-allowed;
}
.hs-input-number__increase {
  right: 1px;
  border-radius: 0 4px 4px 0;
  border-left: 1px solid #dcdfe6;
}
.hs-input-number__decrease {
  left: 1px;
  border-radius: 4px 0 0 4px;
  border-right: 1px solid #dcdfe6;
}
.hs-input-number.is-disabled .hs-input-number__decrease,
.hs-input-number.is-disabled .hs-input-number__increase {
  border-color: #e4e7ed;
  color: #e4e7ed;
}
.hs-input-number.is-disabled .hs-input-number__decrease:hover,
.hs-input-number.is-disabled .hs-input-number__increase:hover {
  color: #e4e7ed;
  cursor: not-allowed;
}
.hs-input-number--medium {
  width: 200px;
  line-height: 34px;
}
.hs-input-number--medium .hs-input-number__decrease,
.hs-input-number--medium .hs-input-number__increase {
  width: 36px;
  font-size: 14px;
}
.hs-input-number--medium .hs-input__inner {
  padding-left: 43px;
  padding-right: 43px;
}
.hs-input-number--small {
  width: 130px;
  line-height: 30px;
}
.hs-input-number--small .hs-input-number__decrease,
.hs-input-number--small .hs-input-number__increase {
  width: 32px;
  font-size: 13px;
}
.hs-input-number--small .hs-input-number__decrease [class*="hs-icon"],
.hs-input-number--small .hs-input-number__increase [class*="hs-icon"] {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}
.hs-input-number--small .hs-input__inner {
  padding-left: 39px;
  padding-right: 39px;
}
.hs-input-number--mini {
  width: 130px;
  line-height: 26px;
}
.hs-input-number--mini .hs-input-number__decrease,
.hs-input-number--mini .hs-input-number__increase {
  width: 28px;
  font-size: 12px;
}
.hs-input-number--mini .hs-input-number__decrease [class*="hs-icon"],
.hs-input-number--mini .hs-input-number__increase [class*="hs-icon"] {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.hs-input-number--mini .hs-input__inner {
  padding-left: 35px;
  padding-right: 35px;
}
.hs-input-number.is-without-controls .hs-input__inner {
  padding-left: 15px;
  padding-right: 15px;
}
.hs-input-number.is-controls-right .hs-input__inner {
  padding-left: 15px;
  padding-right: 50px;
}
.hs-input-number.is-controls-right .hs-input-number__decrease,
.hs-input-number.is-controls-right .hs-input-number__increase {
  height: auto;
  line-height: 19px;
}
.hs-input-number.is-controls-right .hs-input-number__decrease [class*="hs-icon"],
.hs-input-number.is-controls-right .hs-input-number__increase [class*="hs-icon"] {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}
.hs-input-number.is-controls-right .hs-input-number__increase {
  border-radius: 0 4px 0 0;
  border-bottom: 1px solid #dcdfe6;
}
.hs-input-number.is-controls-right .hs-input-number__decrease {
  right: 1px;
  bottom: 1px;
  top: auto;
  left: auto;
  border-right: none;
  border-left: 1px solid #dcdfe6;
  border-radius: 0 0 4px;
}
.hs-input-number.is-controls-right[class*="medium"] [class*="decrease"],
.hs-input-number.is-controls-right[class*="medium"] [class*="increase"] {
  line-height: 17px;
}
.hs-input-number.is-controls-right[class*="small"] [class*="decrease"],
.hs-input-number.is-controls-right[class*="small"] [class*="increase"] {
  line-height: 15px;
}
.hs-input-number.is-controls-right[class*="mini"] [class*="decrease"],
.hs-input-number.is-controls-right[class*="mini"] [class*="increase"] {
  line-height: 13px;
}
