.hs-form--inline .hs-form-item,
.hs-form--inline .hs-form-item__content {
  display: inline-block;
  vertical-align: top;
}
.hs-form-item::after,
.hs-form-item__content::after {
  clear: both;
}
.hs-form--label-left .hs-form-item__label {
  text-align: left;
}
.hs-form--label-top .hs-form-item__label {
  float: none;
  display: inline-block;
  text-align: left;
  padding: 0 0 10px;
}
.hs-form--inline .hs-form-item {
  margin-right: 10px;
}
.hs-form--inline .hs-form-item__label {
  float: none;
  display: inline-block;
}
.hs-form--inline.hs-form--label-top .hs-form-item__content {
  display: block;
}
.hs-form-item {
  margin-bottom: 22px;
}
.hs-form-item::after,
.hs-form-item::before {
  display: table;
  content: "";
}
.hs-form-item .hs-form-item {
  margin-bottom: 0;
}
.hs-form-item--mini.hs-form-item,
.hs-form-item--small.hs-form-item {
  margin-bottom: 18px;
}
.hs-form-item .hs-input__validateIcon {
  display: none;
}
.hs-form-item--medium .hs-form-item__content,
.hs-form-item--medium .hs-form-item__label {
  line-height: 36px;
}
.hs-form-item--small .hs-form-item__content,
.hs-form-item--small .hs-form-item__label {
  line-height: 32px;
}
.hs-form-item--small .hs-form-item__error {
  padding-top: 2px;
}
.hs-form-item--mini .hs-form-item__content,
.hs-form-item--mini .hs-form-item__label {
  line-height: 28px;
}
.hs-form-item--mini .hs-form-item__error {
  padding-top: 1px;
}
.hs-form-item__label-wrap {
  float: left;
}
.hs-form-item__label-wrap .hs-form-item__label {
  display: inline-block;
  float: none;
}
.hs-form-item__label {
  text-align: right;
  vertical-align: middle;
  float: left;
  font-size: 14px;
  color: #606266;
  line-height: 40px;
  padding: 0 12px 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hs-form-item__content {
  line-height: 40px;
  position: relative;
  font-size: 14px;
}
.hs-form-item__content::after,
.hs-form-item__content::before {
  display: table;
  content: "";
}
.hs-form-item__content .hs-input-group {
  vertical-align: top;
}
.hs-form-item__error {
  color: #f56c6c;
  font-size: 12px;
  line-height: 1;
  padding-top: 4px;
  position: absolute;
  top: 100%;
  left: 0;
}
.hs-form-item__error--inline {
  position: relative;
  top: auto;
  left: auto;
  display: inline-block;
  margin-left: 10px;
}
.hs-form-item.is-required:not(.is-no-asterisk) .hs-form-item__label-wrap > .hs-form-item__label:before,
.hs-form-item.is-required:not(.is-no-asterisk) > .hs-form-item__label:before {
  content: "*";
  color: #f56c6c;
  margin-right: 4px;
}
.hs-form-item.is-error .hs-input__inner,
.hs-form-item.is-error .hs-input__inner:focus,
.hs-form-item.is-error .hs-textarea__inner,
.hs-form-item.is-error .hs-textarea__inner:focus {
  border-color: #f56c6c;
}
.hs-form-item.is-error .hs-input-group__append .hs-input__inner,
.hs-form-item.is-error .hs-input-group__prepend .hs-input__inner {
  border-color: transparent;
}
.hs-form-item.is-error .hs-input__validateIcon {
  color: #f56c6c;
}
.hs-form-item--feedback .hs-input__validateIcon {
  display: inline-block;
}
